doctype html
html
  head
    title Lista de Tareas
  body
    
    h1 Lista de Tareas
    
    table
      thead
        tr
          th Tarea ID
          th Nombre
          th Descripción
          th Acciones
      tbody
        each tarea in tareas
          tr
            td #{tarea.id}
            td #{tarea.nombre}
            td #{tarea.descripcion}
            td
              form(action=`/tareas/borrar/${tarea.id}`, method="POST")
                input(type="submit" value="Borrar")
              form(action=`/tareas/actualizar/${tarea.id}`, method="POST")
                input(type="text", name="nombreTarea", placeholder="Nuevo nombre", required)
                input(type="text", name="descripcionTarea", placeholder="Nueva descripción", required, maxlength="50")
                input(type="submit" value="Editar")
    
    form(action="/tareas/agregar", method="POST")
      input(type="text", name="nombreTarea", placeholder="Nombre de la tarea", required)
      input(type="text", name="descripcionTarea", placeholder="Descripción de la tarea", required, maxlength="50")
      button(type="submit") Agregar tarea
